/* Banner container */
.banner-container {
  position: relative;
  color: white;
  font-family: Arial, sans-serif;
  width: 100%;
}

/* Featured movie banner */
.banner-background {
  position: relative;
  /*height: 60vh;*/ /* big banner */
  background-size: cover;
  background-position:center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  transition: background-image 0.5s ease-in-out;
  width: 100%;
}

/*.banner-background {
  width: 100%;
  min-height: 100vh;
  background-image: url("/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
*/

.banner-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.banner-overview {
  font-size: 1.2rem;
  /*max-width: 60%;*/
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
  /* max-width: 1000px;*/
}

/* Movie row */
.row-posters {
  display: flex;
  overflow-x: auto;
  padding: 1rem 2rem;
  gap: 0.5rem;
  scroll-behavior: smooth;
  width: 100%;
  background-size: cover;
}

.row-posters::-webkit-scrollbar {
  display: none; /* hide scrollbar */
}

.row-posters img {
  max-height: 200px;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
   /*max-width: 1000px;*/
   width: 100%;
}

.row-posters img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
  /* max-width: 1000px;*/
  width: 100%;
}


/* Trailer player */
.youtube-player {
  margin: 2rem auto;
  /*max-width: 1000px;*/
  height: 500px;
}
.footercover{
  background-color: black;
  background-size: cover;
  width: 100%;
}