
/* Outer wrapper */
.aouterraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
background-color: #000000;background-size: 100px;
color: aliceblue;
  width: 100%;


}

/* Left section */
.internaraper ul {
  display: flex;
  align-items: center;
  gap: 20px; /* space between menu items */
  list-style: none;
  margin: 0;
  padding: 0;
}
.internaraper ul :hover{
  /*background-color: aqua;*/
  cursor: pointer;
  background-color: transparent;

}

/* Right section */
.rightimage ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Add left padding to LAST 3 icons */
.rightimage ul li:nth-last-child(-n + 3) {
  padding-left: 15px;
}
.rightimage li {
  cursor: pointer;
  font-size: 22px;
}

